/* 
    All elements
*/

:root {
    --facebook-blue: rgb(24, 119, 242);
    --background-gray: #F0F2F5;
    --background-gray-darker: #e6e9ec;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-gray);
}

/* 
    Header
*/

header {
    width: 100vw;
    height: 56px;
    background-color: white;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px hsl(0, 0%, 88%);
    position: sticky;
    top: 0;
}

/* 
    Logo and SearchBar   
*/

.icon-and-search {
    display:flex;
    align-items: center;
    width: 320px;
    display:flex;
    justify-content:center;
    align-items: center;
}


#header-icon {
   height:40px;
}

#search-bar {
    background-color: var(--background-gray);
    margin-left: 10px;
    font-size: 15px;
    width: 240px;
    border: none;
    outline: 0;
    padding: 7px 16px 9px 10px;
    height: 40px;
    border-radius: 20px;
}

input#search-bar {
    background-image: url('../images/loupe.svg');
    background-size: 16px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    text-indent: 23px;
}

input#search-bar:focus {
    background-image:none;
    text-indent:0px
}

/* 
    Central icons (homepage, friends, groups, etc.)
*/

.central-icons {
    display:flex;
    align-items:center;
    justify-content: center
}

.central-icons .icons {
    width: 24px;
}   

.icon-container {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    border-radius: .75rem;
    height: 56px;
    border: 4px solid white;
    padding: 0 5px 0 5px;
}   

.icon-container:hover {
    background-color: var(--background-gray);
}

#homepage-container {
    border-left: 0 solid white;
    border-right: 0 solid white;
    border-bottom: 3px solid var(--facebook-blue);
    border-radius: 0;
}

#homepage-container:hover {
    background-color: white;
}

.central-icon-label {
    display: none;
}

#homepage-container:hover .central-icon-label,
#friends-container:hover .central-icon-label,
#watch-container:hover .central-icon-label,
#marketplace-container:hover .central-icon-label,
#groups-container:hover .central-icon-label {
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    font-size: 14px;    
    padding: 5px;
    border-radius: 4px;
    bottom: -35px;
    height: 30px;
    color: white;
    background-color: black; 
    opacity: .7;
}

/* 
    Account Settings
*/

.account-settings {
    height: 56px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#user-image{
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: var(--facebook-blue);
    border-radius: 50%;
}

#user-profile {
    display: flex;
    align-items: center;   
    height: 36px; 
    border-radius: 18px;
    width: 120px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#user-profile:hover {
    background-color: var(--background-gray);
}

#user-profile img {
    margin: 0 5px 0 10px;
}

.account-settings .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--background-gray);
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 28px;
}

.account-settings .icon:hover {
    background-color: var(--background-gray-darker);
}

#messenger-icon {
    width: 20px;
}

#notification-bell {
    width: 22px;
}

#more-icon {
    width: 12px;
}

/* 
    NavBar
*/

nav {
    border-right: 1px solid black;
    width: 296px;
    height: 100vh;
    position: fixed;
}

/* 
    Footer
*/

footer {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #666666;
}

footer a {
    color: #888888;
}
