*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
}

header {
    width: 100vw;
    height: 56px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icon-and-search {
    display:flex;
    align-items: center;
}

#icon-container {
    background: rgb(60,130,240);
    background: linear-gradient(336deg, rgba(60,130,240,1) 45%, rgba(24,193,237,1) 100%);
    margin-left: 20px;
    border-radius:50%;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

#header-icon {
    width: 30px;
    position: relative;
    top:4px;
    cursor: pointer;
}

#search-bar {
    background-color: #F0F2F5;
    margin-left: 10px;
    font-size: .9rem;
    width: 240px;
    border: none;
    outline: 0;
    padding: 7px 16px 9px 10px;
    height: 40px;
    border-radius: 20px;
}

input#search-bar {
    background-image: url('../images/loupe.svg');
    background-size: 18px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    text-indent: 26px;
}
input#search-bar:focus {
    background-image:none;
    text-indent:0px
    }